.nash-popup-fade-enter, .nash-popup-fade-leave-active
 opacity 0
.nash-popup-fade-enter-active, .nash-popup-fade-leave-active
 transition all 0.3s ease-in-out
.nash-popup-top-enter, .nash-popup-top-leave-active
 transform translate(0, -100%)
.nash-popup-top-enter-active, .nash-popup-top-leave-active
 transition all 0.3s ease-in-out
.nash-popup-right-enter, .nash-popup-right-leave-active
 transform translate(100%, 0)
.nash-popup-right-enter-active, .nash-popup-right-leave-active
 transition all 0.3s ease-in-out
.nash-popup-left-enter, .nash-popup-left-leave-active
 transform translate(-100%, 0)
.nash-popup-left-enter-active, .nash-popup-left-leave-active
 transition all 0.3s ease-in-out
.nash-popup-bottom-enter, .nash-popup-bottom-leave-active
 transform translate(0, 100%)
.nash-popup-bottom-enter-active, .nash-popup-bottom-leave-active
 transition all 0.3s ease-in-out