// normal
@black: #000;
@default: #fff;
@primary: #409eff;
@info: #909399;
@success: #67c23a;
@warning: #e6a23c;
@error: #f56c6c;
@disabled: #eee;
// button-border
@default-border: #dcdfe6;
@primary-border: @primary;
@info-border: @info;
@success-border: @success;
@warning-border: @warning;
@error-border: @error;
// avtive
@default-active: rgb(199, 199, 199);
@primary-active: #007bff;
@success-active: #359f00;
@warning-active: #cf9236;
@error-active: #dd6161;
@info-active: #828482;
// hover
@default-hover: #c6e2ff;
@primary-hover: #66b1ff;
@success-hover: #85ce61;
@warning-hover: #ebb563;
@error-hover: #f78989;
@info-hover: #a6a9ad;
// mask
@mask-background-color: #25262d;
// tip
@tip-background: #c6e2ff;
// collapse
@collapse-disabled: #c8c9cc;
@collapse-active: #f2f2f2;
@collapse-border: #ebedf0;
// checkbox
@checkbox-disabled: #b3b3b3;
