// normal
$normal-blue = #4C8BFF
$normal-gray = #919CAD
$normal-black = #212832
$normal-green = #32BE7F
$light-green = #07c160
$normal-red = #FF4D4D
$normal-smokewhite = #edf0f4
$normal-white = #FFFFFF
$mask-bg = #25262d
// buton
$button-default = $normal-white
$button-primary = $light-green
$button-warning = $normal-red
$button-info = $normal-blue
$button-disable = $normal-gray
// loading
$loading-border = #f3f3f3
flex-box($justify-content = flex-start, $align-items = center, $flex-direction = row)
 display flex
 justify-content $justify-content
 align-items $align-items
 flex-direction $flex-direction
.bg
 background-repeat no-repeat
 background-size 100% 100%
 background-position center
.text-ellipsis
 overflow hidden
 text-overflow ellipsis
 white-space nowrap
@keyframes rotate360
 0%
  transform rotate(0deg)
 50%
  transform rotate(180deg)
 100%
  transform rotate(360deg)